<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168836943023-s8vg20bikh9s20asj6eib9v45g0poeg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168836943023-s8vg20bikh9s20asj6eib9v45g0poeg8</string>
	<key>API_KEY</key>
	<string>AIzaSyAK-xQSvzenYm8jq5uBDLN2G0BX_xNFW3E</string>
	<key>GCM_SENDER_ID</key>
	<string>168836943023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoExchange</string>
	<key>PROJECT_ID</key>
	<string>crypto-exchange-1603</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-exchange-1603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168836943023:ios:d69c0b2d7bd9979622985a</string>
</dict>
</plist>